    <H1 >
    </H1 >
    <table class='table table-striped table-bordered' >
      <thead >
        <tr >
          <th >
            Checkpoint
          </th >
          <th >
            Due Soon
          </th >
          <th >
            At Checkpoint
          </th >
          <th >
            Withdrawn
          </th >
          <th >
            Calculated Average
          </th >
          <th >
            Average
          </th >
          <th >
            Average on speed
          </th >
        </tr >
      </thead >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=St">St</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          47
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=A">A</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          1
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=B">B</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=C">C</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=D">D</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          8
        </td >
        <td >
          1482
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          1482
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=E">E</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          1
        </td >
        <td >
          1
        </td >
        <td >
          2033
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          2033
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=F">F</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          11
        </td >
        <td >
          1376
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          1376
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=G">G</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          1419
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=H">H</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          1
        </td >
        <td >
          1059
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          1059
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=I">I</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          30
        </td >
        <td >
          32
        </td >
        <td >
          4500
        </td >
        <td >
          3672
        </td >
        <td >
          2329
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=J">J</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=K">K</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          1
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=L">L</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          1
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=M">M</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=N">N</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=O">O</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          6
        </td >
        <td >
          1059
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          1059
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=P">P</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=Q">Q</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          1
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          889
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=S">S</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=T">T</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          &nbsp;
        </td >
      </tr >
      <tr >
        <td >
          <a href="/html/checkpointsystem.php?checkpoint=Fin">Fin</a>
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          205
        </td >
        <td >
          &nbsp;
        </td >
        <td >
          1893
        </td >
        <td >
          1890
        </td >
        <td >
          1016
        </td >
      </tr >
    </table >
